* {
    box-sizing: border-box;
}

:root {
    --Azure: #2994cb;
    --Absinthe: #a3de9e;
    --Sakura: #de9ea1;
    --Sky: #394b59;
    --Anthracite: #2a2a2a;
    --Jet: #141414;
    --Night: #181818;
    --Stone: #6c757d;
    --Zinc: #cfd2d0;
    --Absinthe-alpha: rgba(163, 222, 158, 0.8);
    --Shadow-Alpha: rgba(0, 0, 0, 0.5);
}

body {
    background: var(--Zinc);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Aldrich", sans-serif;
}

header {
    background: var(--Sky);
    padding: 30px 25px;
    width: 100%;
}

header h1 {
    color: var(--Absinthe);
    margin: 5px 0 20px;
    color: var(--Azure);
    font-family: "Play", sans-serif;
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 3.3rem;
}

li {
    list-style-type: none;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

form input {
    font-family: "Aldrich", sans-serif;
    color: var(--Night);
    outline: none;
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 1.4rem;
    border: 2px solid var(--Azure);
    border-radius: 12px;
}

.row {
    flex: 1;
    margin: 0%;
    width: 100%;
}

.left {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    background-color: var(--Sky);
    color: var(--Zinc);
}

.right {
    padding: 40px;
    background-color: var(--Zinc);
}

.top {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid var(--Azure);
    border-radius: 12px;
}

.bottom {
    margin-top: 20px;
}

.forecastContainer {
}

.cityData {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 10px;
}
.card {
    background-color: var(--Sky);
    color: var(--Zinc);
    padding-top: 12px;
    margin-top: 20px;
}

.stone {
    color: var(--Stone);
}

.minimize {
    font-size: 1.7rem;
}

footer {
    width: 100%;
    height: 90px;
    background: var(--Zinc);
    padding: 20px;
}

footer p {
    font-weight: bold;
    font-family: ;
    color: var(--Azure);
    font-size: 1.3rem;
    font-family: "Play", sans-serif;
}

.copyleft {
    display: inline-block;
    font-weight: bold;
    transform: rotate(180deg);
    font-size: 1.3rem;
    padding-bottom: 2px;
}

#cityTitle {
    font-size: 2rem;
    font-weight: bold;
}

#uvColor {
    background-color: var(--Sakura);
    border-radius: 12px;
    padding: 4px;
}

#cityTitle {
    font-family: "Aldrich", sans-serif;
}

#forecastTitle {
    font-family: "Aldrich", sans-serif;
}

#searchTitle {
    font-family: "Aldrich", sans-serif;
}

@media screen and (max-width: 770px) {
    form .form-group {
        flex: 1 100%;
    }

    form .form-group button {
        width: 100%;
    }

    .minimize {
        font-size: 1.3rem;
    }

    .top {
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 0px;
        padding-bottom: 5px;
    }    

    h1 {
        text-align: center;
    }

    #searchTitle {
        font-size: 1.6rem;
    }    

    #cityTitle {
        font-size: 24px;
    }
}
