* {
    box-sizing: border-box;
  }
  
  :root {
      --Azure: #2994cb;
      --Absinthe: #a3de9e;
      --Sky: #394b59;
      --Anthracite: #2a2a2a;
      --Jet: #141414;
      --Night: #181818;
      --Stone: #6c757d;
      --Zinc: #cfd2d0;
      --Absinthe-alpha: rgba(163, 222, 158, 0.8);
      --Shadow-Alpha: rgba(0, 0, 0, 0.5);
      font-size: 62.5%;
  }
  
  body {
    background: var(--Night);
  
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background: var(--Sky);
    padding: 30px 25px;
    border-bottom: 5px solid var(--Azure);
}